# LPF: Layer Property Flow package file 
 50   999.000  1 # ILPFCB, HDRY, NPLPF
 0 0 0 # LAYTYP
 0 0 0 # LAYAVG
 1.00e+000 1.00e+000 1.00e+000 # CHANI
 1 1 1 # LAYVKA
 0 0 0 # LAYWET
HK_Par1 HK 1.00000000e+000  3 # PARNAM, PARTYP, PARVAL, NCLU
 1 HK_Par1_M1  HK_Par1_Z1  1 # Layer, MLTARR, ZONARR IZ
 2 HK_Par1_M2  HK_Par1_Z2  1 # Layer, MLTARR, ZONARR IZ
 3 HK_Par1_M3  HK_Par1_Z3  1 # Layer, MLTARR, ZONARR IZ
-1 
CONSTANT 1 
-1
CONSTANT 1 
-1
CONSTANT 1 
